.loading-main{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
/* .loading-main span{
  display: inline-block;
  background: #fff;
  color: #000;
  padding: 12px 24px;
  min-width: 120px;
  text-align: center; 
  border-radius: 6px
} */