body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 98%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul,li{
  list-style: none;
}
a{text-decoration: none}
.ant-btn{
  padding:0 10px;
}
.col-12{padding:0 12px}
.m-flex{display: flex;width: 100%}
.m-flex.flex-wrap{flex-wrap: wrap}
.img-respose{display: block;width: 100%;margin: auto;}
.max-respose{display: block;max-width: 90%;margin: auto;}
.m-flex>.f-col-5{width: 5%;}
.m-flex>.f-col-10{width: 10%;}
.m-flex>.f-col-15{width: 15%;}
.m-flex>.f-col-20{width: 20%;}
.m-flex>.f-col-24{width: 24%;}
.m-flex>.f-col-25{width: 25%;}
.m-flex>.f-col-30{width: 30%;}
.m-flex>.f-col-33{width: 33.333%;}
.m-flex>.f-col-35{width: 35%;}
.m-flex>.f-col-40{width: 40%;}
.m-flex>.f-col-45{width: 45%;}
.m-flex>.f-col-48{width: 48%;}
.m-flex>.f-col-50{width: 50%;}
.m-flex>.f-col-55{width: 55%;}
.m-flex>.f-col-60{width: 60%;}
.m-flex>.f-col-65{width: 65%;}
.m-flex>.f-col-70{width: 70%;}
.m-flex>.f-col-75{width: 75%;}
.m-flex>.f-col-80{width: 80%;}
.m-flex>.f-col-85{width: 85%;}
.m-flex>.f-col-90{width: 90%;}
.m-flex>.f-col-95{width: 95%;}
.m-flex>.f-col-auto{flex: 1;}

.search-wrap>:nth-child(n){
  margin-right: 15px;
  margin-bottom: 6px;
}