
.ant-table-fixed-left .ant-table-fixed,
.ant-table-fixed-right .ant-table-fixed{
  background: #f0f2f5
}

.modal-form-main .form-itmes{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.modal-form-main .form-itmes .itme-labe{
  width: 136px!important;
  text-align: right;
}

.handlestatus-box{
   /* position: absolute; */
   transform: translateY(-175%);
}


.auth-list-main .list-itme{
    display: flex;
    align-items: center;
    background-color: #fff;
    /* box-shadow: 0 0 10px 5px #999; */
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 12px;
}
.auth-list-main  .list-itme-content{
    flex: 1;
    text-align: center;
}
.auth-list-main .list-itme-handle{
    display: flex;
    flex-direction: column;
}
.auth-list-main .by-divider::before,
.auth-list-main .by-divider::after
{
    border-color: #fff;
}

.auth-list-main .select-main-btn{
    margin-bottom: 2px;
}